.avatar {
    border-radius: 50%;
    border: solid aquamarine;
    width: 40px;
    height: 40px;

}

.parent {
    background-color: black;
    display: flex;
    margin: 15px;
    align-items: flex-end;
    padding: 30px;
}

.child {
    border-radius: 10px 10px 10px 0px;
    background-color:rgba(127, 255, 212, 0.8);
    padding: 10px;
    max-width: 300px;
}

.message {
    color: black;
    font-size: 15px;
    word-wrap: break-word;
}

.time {
    color: black;
    text-align: right;
}

.name{
    color: black;
    font-size: 15px;
    color: black;
}

.angle{
    width: 12px;
    height: 12px;
    background: radial-gradient(circle at 0 0, rgba(0, 0, 0, 0) 12px, rgba(127, 255, 212, 0.8) 0 );

}
